<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">

        <div class="container">
            <div class="slider-wrapper" tabindex="0">

                <div v-for= "image, index in slides" :class="propShow(index)" class="item">
                    <img :src="image.image" alt="" />
                    <div class="text">
                        <h3 v-for= "image, index in slides" class="display_none" :class="propShow(index)">
                            {{image.title}}
                        </h3>
                        <p v-for= "image, index in slides" class="display_none" :class="propShow(index)">
                            {{image.text}}
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="prev" @click="showPrevIndexImg"></div>
                    <div class="next" @click="showNextIndexImg"></div>

                    <div v-for="image, index in slides" :class="propShowThumb(index)" @click="setAsIndex(index)">
                        <img :src="image.image" />
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>